<!DOCTYPE html>
<html>
	<head>
		<title>Create a new course</title>
		<style>
	 		form {
			    margin: 0 auto;
			    width: 400px;
			    padding: 1em;
			    border: 1px solid #CCC;
    			border-radius: 1em;
    			background-color: #FFF0F5;
			}
			h1, .button {
				text-align: center;
			}
			form div + div {
			    margin-top: 1em;
			}
			input:focus, textarea:focus {
			    border-color: DarkSalmon;
			}
			div:hover {
				color: DarkSalmon;
			}
		</style>

	</head>

	<body>
		<form action="" method="POST">
			<h1>Create Container</h1>
			{% csrf_token %}
		 	<div>
		        <label for="name_container">Container name:</label>
		        <input id="name_container" type="text" name="name_container" value="{{ name_container }}" />
			</div>
			<div>
		        <label for="name_owner">Your name:</label>
		        <input id="name_owner" type="text" name="name_owner" value="{{ name_owner }}" />
			</div>
			<div>
				<label for="ssh_key">Your SSH key:</label>
		        <input id="ssh_key" type="text" name="ssh_key" value="{{ ssh_key }}" />
	        </div>
    		<input type="submit" value="OK">
		</form>
	</body>
</html>
